<div class="f-info">
  <!-- Social Media Icons -->
  <div class="f-info-socials">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-linkedin"></i>
  </div>
  
  <!-- Company Info -->
  <p class="f-info-text">&copy; Wanderlust Private Limited</p>
  
  <!-- Privacy & Terms Links -->
  <div class="f-info-links">
    <a href="/privacy">Privacy</a> | <a href="/terms">Terms</a>
  </div>
</div>
